StackTray.xcodeproj/xcuserdata/ruben.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
StackTray.xcodeproj/xcuserdata/ruben.xcuserdatad/xcschemes/StackTray.xcscheme
StackTray.xcodeproj/xcuserdata/ruben.xcuserdatad/xcschemes/StackTrayKit.xcscheme
StackTray.xcodeproj/xcuserdata/ruben.xcuserdatad/xcschemes/xcschememanagement.plist
